<div class="answer card" id="answer-block-{{answer.id}}">
  <p>{{answer.body}}</p>
  <p>{{rating}}</p>

  <div class="links-hbs">
    {{#if links.length}}
      <h3>Links: </h3>
      <ul>
        {{#each links}}
          <li><a href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
